<div class="container">
    <div class="row">
        <div class="col">
            {{ pimcore_wysiwyg("column", {
                "placeholder": "WYSIWYG Inhalt eingeben"
            }) }}
        </div>
    </div>
</div>