<tr>
    <td>
        {{ 'blogpost.activity.summary.difficulty.title'|trans }}
    </td>
    <td>
        {{ ('blogpost.activity.summary.difficulty.values.' ~ blogpost.activity.summary.difficulty)|trans }}
    </td>
</tr>