<tr>
    <td>
        {{ 'blogpost.activity.summary.duration.title'|trans }}
    </td>
    <td>
        {{ blogpost.activity.summary.duration }} h,
        {{ ('blogpost.activity.summary.breaks.values.' ~ blogpost.activity.summary.breaks)|trans }}
        {{ 'blogpost.activity.summary.breaks.title'|trans }}
    </td>
</tr>