<tr>
    <td>
        {{ 'blogpost.activity.summary.headForHeights.title'|trans }}
    </td>
    <td>
        {{ ('blogpost.activity.summary.ratingOfNecessity.values.' ~ blogpost.activity.summary.headForHeights)|trans }}
    </td>
</tr>