<tr>
    <td>
        {{ 'blogpost.activity.summary.sureFootness.title'|trans }}
    </td>
    <td>
        {{ ('blogpost.activity.summary.ratingOfNecessity.values.' ~ blogpost.activity.summary.sureFootness)|trans }}
    </td>
</tr>