<tr>
    <td>
        {{ 'blogpost.activity.summary.weather.title'|trans }}
    </td>
    <td>
        {{ ('blogpost.activity.summary.weather.values.' ~ blogpost.activity.weather)|trans }}
    </td>
</tr>