{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div id="page-home">
{#        {% include 'layouts/inc/nav_main.html.twig' %}#}
        {% include 'content/home/hero.html.twig' %}

        {# Intro #}
        <section id="intro" class="container spaced">
            <div class="row">
                <h1 class="col-12">Welcome Headline</h1>
                <div class="col-12 col-md-6">
                    Welcome Text left
                </div>
                <div class="col-12 col-md-6">
                    Welcome Text right
                </div>
            </div>
        </section>

        {# Latest #}
        <section id="posts" class="container-fluid spaced">
            <div class="container">
                <h2>{{ pimcore_input('posts_latest_headline', {'placeholder': 'Neuste Beiträge'})}}</h2>
                <div class="row mt-4">
                    {% for post in latestPosts %}
                        {% include 'content/_general/blogpost_list_item.html.twig' with {'post': post, 'size': 'normal'} %}
                    {% endfor %}
                </div>
                <h2 class="mt-4">{{ pimcore_input('posts_featured_headline', {'placeholder': 'Ausgewählte Beiträge'})}}</h2>
                <div class="row mt-4">
                    muh
{#                    {% for post in latestPosts %}#}
{#                        {% include 'page/_general/blogpost_list_item.html.twig' with {'post': post} %}#}
{#                    {% endfor %}#}
                </div>
            </div>
        </section>

    </div>
{%  endblock %}
