<div id="social-bar">
{#    {% for channel in socialChannels %}#}
{#        {% if channel.socialChannelIcon is not empty %}#}
{#            {% if channel.socialChannelUrl %}#}
{#                <a href="{{ channel.socialChannelUrl.href }}" target="_blank" title="FreiWeg at {{ channel.socialChannelName }}">#}
{#                    {% set iconImage = channel.getSocialChannelIcon() %}#}
{#                    {% if iconImage %}#}
{#                        {% set iconImage = iconImage.thumbnail('social-sidebar-icon').html({#}
{#                            'class': 'img-fluid',#}
{#                            'alt': channel.socialChannelName#}
{#                        }) %}#}
{#                        {{ iconImage|raw }}#}
{#                    {% endif %}#}
{#                </a>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    {% endfor %}#}
    <a href="#"><i class="material-icons">email</i></a>
</div>
