<div id="social-bar">
    {% for channel in socialChannels %}
        {% if channel.bootstrapIcon is not empty %}
            {% if channel.link %}
                <a href="{{ channel.link.href }}" target="_blank" title="{{ channel.link.title|trans }}">
                    <i class="bi bi-{{ channel.bootstrapIcon }}"></i>
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
