# Run Pimcore maintenance task every hour
*/5 * * * * /var/www/virtual/fwgblog/fwg-pimcore11/current/bin/console pimcore:maintenance >> /var/www/virtual/fwgblog/fwg-pimcore11/shared/var/log/cron.log 2>&1

# Run backend search reindexing every 60 minutes
0 */1 * * * /var/www/virtual/fwgblog/fwg-pimcore11/current/bin/console pimcore:search-backend-reindex >> /var/www/virtual/fwgblog/fwg-pimcore11/shared/var/log/cron.log 2>&1

# Run app:blogpost:report-broken-links
0 1 * * * /var/www/virtual/fwgblog/fwg-pimcore11/current/bin/console app:blogpost:report-broken-links >> /var/www/virtual/fwgblog/fwg-pimcore11/shared/var/log/cron.log 2>&1

# Run sitemap command
0 2 * * * rm -f /var/www/virtual/fwgblog/fwg-pimcore11/current/public/sitemap.*; /var/www/virtual/fwgblog/fwg-pimcore11/current/bin/console presta:sitemaps:dump >> /var/www/virtual/fwgblog/fwg-pimcore11/shared/var/log/cron.log 2>&1
