{% extends 'layouts/layout.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <div class="container page-404">
            {{ pimcore_wysiwyg("wysiwyg") }}
            <h1>Immer auf em Weg bleiben, keine Abkürzungen nehmen!</h1>
            Es scheint, als hättest Du irgndwo die falsche Abbiegung erwischt. Hier geht es auf jeden Fall nicht weiter.<br>
            Keine Sorge. Wir bringen Dich gerne zurück auf den passenden Pfad!
            <div class="mt-3">
                Entscheide Dich enfach für eine Richtung auf unserem Wegweiser und entdecke
                <ul>
                    <li class="mt-2">
                        <a href="#">Wanderungen für große und kleine Zwei- und Vierpfoter, entspannt bis schweißtreibend</a>
                    </li>
                    <li class="mt-2">
                        <a href="#">Städtetrips zu wunderschönen Locations in Europa</a>
                    </li>
                    <li class="mt-2">
                        <a href="#">hilfreiche und interessante Information zum Thema Camping und Caravan</a>
                    </li>
                </ul>
            </div>
            Oder <a href="/">besuche unsere Startseite</a> mit aktuellen Blogposts und finde von hier Deine nrue Route durch unsere Website.
        </div>
    </div>
{% endblock %}