{% extends 'layouts/layout.html.twig' %}

{% set documentTitle = "" %}
{% if document is not null and document.title != ""%}
    {% do pimcore_head_title().prepend(document.title) %}
    {% set documentTitle = document.title %}
{% endif %}

{% if document is not null and document.description != ""%}
    {% do pimcore_head_meta().appendName("description", document.description) %}
{% endif %}

{% block teaserImage %}
    {% if editmode %}
        {{ pimcore_image("teaserImage", {
            "width": 400,
            "title": "Teaser-Image",
        }) }}
    {% elseif document.editable("teaserImage") is not null %}
        <img src="{{ document.editable("teaserImage").getThumbnail("teaser1900x900") }}" alt="{{ documentTitle }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ pimcore_areablock("column") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}