@use '../_base.scss' as base;

.page-blogpost {

    #title {

        h1,
        h2 {
            margin: 0;
            background-color: base.$color-cd-orange;
            padding: 5px 11px;
            color: #fff;
            display: inline-block;
        }

        h1 {
            border-bottom: 3px solid #fff;
        }

        h2 {
            background-color: base.$color-cd-green;
        }
    }

    aside {

        h3 {
            padding-bottom: 8px;
            border-bottom: 1px solid #ccc;
        }
    }

    .links-downloads {

        tr {
            vertical-align: top;

            td:first-child {
                padding-right: 10px
            }
        }
    }

    .author {

        img {
            margin-top: 5px;
            border-radius: 5px;
        }

        table {

            tr {
                vertical-align: top;

                td:first-child {;
                    padding-right: 10px;
                }

                p {
                    margin-bottom: 5px;
                }
            }
        }
    }

    #comments {

        form {
            background-color: base.$color-grey-light;
            padding: 10px;
            border-radius: 5px;

            input[type="submit"] {
                background-color: base.$color-cd-green;
                color: #fff;
                border: 0;
                padding: 5px 10px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: base.$color-cd-orange;
                }
            }
        }

        .js-comment-answer {
            color: base.$color-cd-green;
            cursor: pointer;

            &:hover {
                color: base.$color-cd-orange;
            }
        }
    }

    .blogpost-content {

        h3 {
            padding-top: 1rem;
            font-weight: 600;

            @media (min-width: 768px) {
                font-size: 2rem;
            }
        }

        &.blogpost-content-city-spot {

            .alert {
                padding: 0 !important;
            }
        }

        .credits {
            font-size: 0.8rem;
        }
    }
}

.post-list-item {
    color: #000;
    text-decoration: none;

    h2 {
        margin-bottom: 1.5rem;
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
    }
}

.material-icons {
    vertical-align: bottom;
}
