@use '../_base.scss' as base;

.page-blogpost-list {

    .tags {

        a {
            text-decoration: none;

            &:hover {
                background-color: base.$color-cd-green !important;
                color: #fff;
            }
        }
    }
}
