@use '../_base.scss' as base;

.page-blogpost {

    #title {

        h1,
        h2 {
            margin: 0;
            background-color: base.$color-cd-orange;
            padding: 5px 11px;
            color: #fff;
            display: inline-block;
        }

        h1 {
            border-bottom: 3px solid #fff;
        }

        h2 {
            background-color: base.$color-cd-green;
        }
    }

    .links-downloads {

        tr {
            vertical-align: top;

            td:first-child {
                padding-right: 10px
            }
        }
    }

    .author {

        .bi {
                padding-right: 10px
            }
    }
}
