@use '../_base.scss' as base;

.page-blogpost {

    #title {

        h1,
        h2 {
            margin: 0;
            background-color: base.$color-cd-orange;
            padding: 5px 11px;
            color: #fff;
            display: inline-block;
        }

        h1 {
            border-bottom: 3px solid #fff;
        }

        h2 {
            background-color: base.$color-cd-green;
        }
    }

    aside {

        h3 {
            padding-bottom: 8px;
            border-bottom: 1px solid #ccc;
        }
    }

    .links-downloads {

        tr {
            vertical-align: top;

            td:first-child {
                padding-right: 10px
            }
        }
    }

    .author {

        img {
            margin-top: 5px;
            border-radius: 5px;
        }

        table {

            tr {
                vertical-align: top;

                td:first-child {;
                    padding-right: 10px;
                }

                p {
                    margin-bottom: 5px;
                }
            }
        }
    }

    #comments {
    }
}
