@use '../_base.scss' as base;

#page-home {

    h1,
    h2 {
        margin: 0;
        background-color: base.$color-cd-orange;
        padding: 5px 11px;
        color: #fff;
        display: inline;
    }

    h1 {
        border-bottom: 3px solid #fff;
    }

    h2 {
        background-color: base.$color-cd-green;
    }

    #hero {
        height: 270vh;
        max-height: 700px;
        background-position: center bottom;

        .hero-content {
            bottom: 5%;
        }
    }

    #intro {

        .container {
            padding-top: 60px;
            padding-bottom: 30px;
            line-height: 2em;
            border-bottom: 1px dotted base.$color-cd-orange;

            strong {
                color: base.$color-cd-green;
            }
        }
    }

    #posts {


    }

    #sets {

        .set {
            text-align: center;

            h3 {
                margin: 15px 0;
                padding: 5px 3px;
                background-color: base.$color-cd-orange;
                color: base.$color-white;
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
