@use '../_base.scss' as base;

.page-list {

    h1,
    h2 {
        margin: 0;
        background-color: base.$color-cd-orange;
        padding: 5px 11px;
        color: #fff;
        display: inline-block;
    }

    h1 {
        border-bottom: 3px solid #fff;
    }

    h2 {
        background-color: base.$color-cd-green;
    }

    h3 {
        font-size: 1.2rem;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;
    }

    .pagination {
        .page-item {
            .page-link {
                color: base.$color-grey-default;
                background-color: base.$color-grey-light;

                &:hover {
                    background-color: base.$color-cd-green;
                    color: #fff;
                }
            }

            &.active {
                .page-link {
                    background-color: base.$color-cd-orange;
                    border-color: base.$color-cd-orange;
                    color: #fff;
                }
            }

            &.disabled {
                .page-link {
                    pointer-events: none;
                    color: #aaa;
                    background-color: base.$color-grey-light;
                }
            }
        }
    }
}
