<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            {{ pimcore_wysiwyg("columnLeft", {
                "placeholder": "WYSIWYG Inhalt eingeben"
            }) }}
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            {{ pimcore_wysiwyg("columnRight", {
                "placeholder": "WYSIWYG Inhalt eingeben"
            }) }}
        </div>
    </div>
</div>