<div id="blogpost-gallery-{{ item.index }}" class="blogpost-content blogpost-content-gallery js-bbx-gallery">
    {% for image in item.imageGallery.items %}
        {% set fullImageSource = image.thumbnail('blogpost-gallery-full').path %}
        {{ image.thumbnail('blogpost-gallery-thumbnail').html({ 'imgAttributes': {
            'class': 'img-fluid p-1 border mr-2 mb-2',
            'alt': blogpost.title,
            'data-fullsource': fullImageSource,
            'data-index': loop.index,
        }})|raw }}
    {% endfor %}
</div>
