.navbar-brand img {
  width: 100px;
}
header .cover {
  filter: alpha(opacity=60);
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: #000;
  object-fit: cover;
  z-index: 5;
}
header .covered {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 4;
}
header .highlight {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 450px;
  margin: 0 0 -125px -225px;
  color: #fff;
  z-index: 6;
}
header .highlight img {
  width: 450px;
  height: auto;
}
header .slider img {
  width: 100%;
  height: auto;
}
header .slider .carousel-control {
  z-index: 10;
}
.container,
.container-fluid {
  /* Portfolio */
  /* References & rental */
  /* References */
  /* Rental */
  /* Map */
}
.container.welcome,
.container-fluid.welcome {
  margin-top: 25px;
}
.container #portfolio,
.container-fluid #portfolio {
  padding: 0 0 35px 0;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.container #portfolio a,
.container-fluid #portfolio a {
  text-decoration: none;
  text-align: center;
  color: #5e5e5e;
}
.container #portfolio a img,
.container-fluid #portfolio a img {
  width: auto;
  height: 50px;
}
.container #portfolio a h2,
.container-fluid #portfolio a h2 {
  font-size: 18px;
  margin: 85px 0 15px 0;
}
.container #portfolio a ul,
.container-fluid #portfolio a ul {
  padding: 15px 10px 0 25px;
  text-align: left;
  list-style: square;
  border-top: 1px solid #d1d1d1;
}
.container #portfolio a ul li,
.container-fluid #portfolio a ul li {
  line-height: 24px;
}
.container #portfolio a.planung-und-beratung,
.container-fluid #portfolio a.planung-und-beratung {
  background: url('/static/gfx/leistungen-planung-beratung.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.planung-und-beratung.active,
.container-fluid #portfolio a.planung-und-beratung.active,
.container #portfolio a.planung-und-beratung:hover,
.container-fluid #portfolio a.planung-und-beratung:hover {
  background: url('/static/gfx/leistungen-planung-beratung-active.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.aufbau-und-abbau,
.container-fluid #portfolio a.aufbau-und-abbau {
  background: url('/static/gfx/leistungen-aufbau-abbau.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.aufbau-und-abbau.active,
.container-fluid #portfolio a.aufbau-und-abbau.active,
.container #portfolio a.aufbau-und-abbau:hover,
.container-fluid #portfolio a.aufbau-und-abbau:hover {
  background: url('/static/gfx/leistungen-aufbau-abbau-active.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.technische-betreuung,
.container-fluid #portfolio a.technische-betreuung {
  background: url('/static/gfx/leistungen-technische-betreuung.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.technische-betreuung.active,
.container-fluid #portfolio a.technische-betreuung.active,
.container #portfolio a.technische-betreuung:hover,
.container-fluid #portfolio a.technische-betreuung:hover {
  background: url('/static/gfx/leistungen-technische-betreuung-active.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.vermietung,
.container-fluid #portfolio a.vermietung {
  background: url('/static/gfx/leistungen-vermietung.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container #portfolio a.vermietung.active,
.container-fluid #portfolio a.vermietung.active,
.container #portfolio a.vermietung:hover,
.container-fluid #portfolio a.vermietung:hover {
  background: url('/static/gfx/leistungen-vermietung-active.svg') no-repeat center 10px;
  background-size: auto 50px;
}
.container#references,
.container-fluid#references,
.container#rental,
.container-fluid#rental {
  padding: 35px 0;
}
.container#references .item,
.container-fluid#references .item,
.container#rental .item,
.container-fluid#rental .item {
  margin: 15px 0 0 0;
  text-align: center;
  text-decoration: none;
}
.container#references .item img,
.container-fluid#references .item img,
.container#rental .item img,
.container-fluid#rental .item img {
  width: 265px;
  height: 165px;
  border: 1px solid #fff;
}
.container#references,
.container-fluid#references {
  background: url('/static/gfx/home-references.jpg') no-repeat center center;
  background-size: 100% auto;
}
.container#references .item,
.container-fluid#references .item {
  text-align: left;
}
.container#references .item:nth-child(even),
.container-fluid#references .item:nth-child(even) {
  text-align: right;
}
.container#references .item img,
.container-fluid#references .item img {
  width: 85%;
  max-width: 450px;
  height: auto;
}
.container#references .item p,
.container-fluid#references .item p {
  display: inline-block;
  padding: 5px 10px;
  width: 85%;
  max-width: 450px;
  background: #212121;
  color: #fff;
  text-align: left;
}
.container#rental,
.container-fluid#rental {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.container#rental .item img,
.container-fluid#rental .item img {
  border: 1px solid #212121;
}
.container#rental .info,
.container-fluid#rental .info {
  padding: 5px 10px;
  width: 265px;
  height: 52px;
  background: #212121;
  color: #fff;
  margin: auto;
}
.container#map,
.container-fluid#map {
  position: relative;
  height: 450px;
  margin-top: 5px;
  z-index: 1;
  background: url('/static/gfx/osmmap.jpg') no-repeat center center;
  background-size: auto;
}
.container#map .map-wrap,
.container-fluid#map .map-wrap {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 40px;
  margin-top: 6%;
  display: inline-flex;
  color: #fff;
  border-radius: 10px;
}
.container#map .map-wrap .map-address b,
.container-fluid#map .map-wrap .map-address b {
  color: #3CA487;
}
.container#map .map-wrap .map-address a,
.container-fluid#map .map-wrap .map-address a {
  color: #fff;
  font-weight: bold;
  background-color: #266956;
  padding: 5px 15px;
  border-radius: 7px;
  text-decoration: none;
}
.container#map .map-wrap .map-address a:hover,
.container-fluid#map .map-wrap .map-address a:hover {
  color: #266956;
  background-color: #fff;
}
.container#map .map-wrap .map-address.map-address-right,
.container-fluid#map .map-wrap .map-address.map-address-right {
  margin-left: 70px;
}
.container#map .map-osm,
.container-fluid#map .map-osm {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 6px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  header .cover {
    display: none;
  }
  #references,
  #rental {
    padding: 0 0 15px 0 !important;
    text-align: center;
  }
  #references a {
    text-align: center !important;
  }
  .container,
  .container-fluid {
    /* Map */
  }
  .container.addresses,
  .container-fluid.addresses {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
  }
  .container.addresses a.show-mobile,
  .container-fluid.addresses a.show-mobile {
    display: block;
  }
  .container#map .map-wrap,
  .container-fluid#map .map-wrap {
    flex-direction: column;
  }
  .container#map .map-wrap .map-address.map-address-right,
  .container-fluid#map .map-wrap .map-address.map-address-right {
    margin: 30px 0 0 0;
  }
}
