.head div.container {
  position: relative;
}
.head div.container h2 {
  margin: 0 0 15px 0;
  font-weight: 200;
  font-size: 16px;
}
.head div.container form input {
  border: 1px solid #5e5e5e;
  height: 26px;
  padding: 0 5px;
}
.head div.container form input.get-list-error {
  background-color: #f00;
}
.head div.container form input.get-list-error::placeholder {
  color: #fff;
}
.head div.container form .js-recaptcha {
  background-color: #007560;
  color: #fff;
  border: none;
  height: 26px;
}
.head div.container .list-sent {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 5px;
  background-color: #B1D8B1;
}
.head div.container #categories {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 25px;
  width: 250px;
  padding: 3px 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007560;
  z-index: 1000;
}
.head div.container #categories:hover li {
  display: block;
}
.head div.container #categories li {
  display: none;
  padding: 5px 0;
  background: url("/static/gfx/sprite-default.png") no-repeat 207px -26px;
}
.head div.container #categories li:first-child {
  display: block;
  background: none;
}
.head div.container #categories li:hover,
.head div.container #categories li.active {
  background-position: 207px 2px;
}
.head div.container #categories li span.glyphicon {
  float: right;
  margin: 3px 0 0 0;
}
.head div.container #categories li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.head div.container #categories-trigger {
  position: absolute;
  right: 10px;
  top: -70px;
  width: 250px;
  height: 25px;
}
.container-fluid #items a.item {
  padding: 10px;
  text-decoration: none;
}
.container-fluid #items a.item .inner {
  height: 201px;
  color: #212121;
  background-color: #eee;
  text-align: center;
}
.container-fluid #items a.item .inner:hover {
  color: #fff;
  background-color: #212121;
}
.container-fluid #items a.item .inner .frame {
  position: relative;
  width: 100%;
  max-height: 160px;
  overflow: hidden;
}
.container-fluid #items a.item .inner .frame img {
  width: 100%;
  height: auto;
}
.container-fluid #items a.item .inner .frame .overlay {
  position: absolute;
  height: 15px;
  bottom: 0;
  left: 0;
}
.container-fluid #items a.item .inner h3,
.container-fluid #items a.item .inner h4 {
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 600;
}
.container-fluid #items a.item .inner h4 {
  padding: 0 0 5px 0;
  font-weight: 200;
}
.container-fluid.images {
  padding: 32px 0 25px 0;
  z-index: 4;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.container-fluid.images .container {
  position: relative;
}
@media (max-width: 767px) {
  #items .item .inner {
    height: auto !important;
  }
  .images {
    padding-top: 70px;
  }
}
@media (max-width: 989px) {
  #categories {
    position: static !important;
    width: 100% !important;
  }
}
