<aside class="data-facts mt-4">
    <h3>{{ 'blogpost.activity.summary.headline'|trans }}</h3>
    <table class="table table-striped">
        {% if blogpost.activity.activityType == "hike" %}
            {% include 'content/blogpost/aside/summary/startEnd.html.twig' %}
            {% include 'content/blogpost/aside/summary/distance.html.twig' %}
            {% include 'content/blogpost/aside/summary/elevation.html.twig' %}
            {% include 'content/blogpost/aside/summary/duration.html.twig' %}
            {% include 'content/blogpost/aside/summary/difficulty.html.twig' %}
            {% include 'content/blogpost/aside/summary/headForHeights.html.twig' %}
            {% include 'content/blogpost/aside/summary/sureFootness.html.twig' %}
            {% include 'content/blogpost/aside/summary/date.html.twig' %}
            {% include 'content/blogpost/aside/summary/weather.html.twig' %}
        {% endif %}
    </table>
</aside>
