<aside class="tags mt-4">
    <h3>
        Tags
    </h3>
    {% for tag in tagList %}
        <a href="/tags?{{ tag.parent.slug }}={{ tag.slug }}" class="badge text-bg-secondary">{{ tag.emoji }} {{ tag.name }}</a>
    {% endfor %}
</aside>
