@use '_base.scss' as base;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: #fff;
}
h1,
h2,
h3,
h4 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h1 {
    @media (max-width: 767.98px) {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 600;

    @media (max-width: 767.98px) {
        font-size: 1rem;
    }
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    background-color: base.$color-cd-orange;
    border-color: base.$color-cd-orange;
}
.btn-secondary {
    background-color: base.$color-cd-green;
    border-color: base.$color-cd-green;
}

.spaced {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.divider {
    margin: 3rem 0;
    border-top: 1px solid #bbb;
}

a {
    color: base.$color-cd-green;
}

.tags {

    a {
        text-decoration: none;

        &:hover {
            background-color: base.$color-cd-green !important;
            color: #fff;
        }
    }
}

#nav-main {

    .dropdown-menu {
        background-color: base.$color-grey-default;

        a {
            color: #bbb;
            background-color: base.$color-grey-default;

            &:hover {
                color: #fff;
            }
        }
    }
}

#hero {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    /* Set a specific height */
    height: 50vh;
    max-height: 450px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    #logo {
        min-width: 250px;
        width: 12vw;
    }

    .hero-content {
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        color: white;

        h1,
        h2 {
            margin: 0;
            background-color: base.$color-cd-orange;
            padding: 5px 11px;
            color: #fff;
            display: inline-block;
        }

        h1 {
            border-bottom: 3px solid #fff;
        }

        h2 {
            background-color: base.$color-cd-green;
        }

        .topic {
            border-left: 3px solid base.$color-cd-orange;

            h2 {
                font-size: 1rem;
                text-transform: uppercase;
            }

            p {
                margin: 0;
                font-size: 0.8rem;
            }
        }
    }

    /*p {
        @include media-breakpoint-down(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-down(md) {
            font-size: 14px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }

    }*/
}

footer {
    color: #fff;

    .content {
        background-color: #646464;
    }

    .codex-logo {
        height: 100px;
        width: auto;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: base.$color-cd-green;
        }
    }
}

.border-cd-orange {
    border-color: base.$color-cd-orange !important;
}

#social-bar {
    position: fixed;
    z-index: 10000;
    left: 2px;
    top: 20vh;
    width: 50px;

    @media (max-width: 767.98px) {
        left: unset;
        right: 2px !important;
    }

    a {
        display: block;
        border-bottom: 1px solid #fff;
        width: 40px;
        height: 40px;
        background-color: base.$color-cd-orange;
        color: #fff;
        line-height: 40px;
        text-align: center;

        &:last-child {
            border: none;
        }

        &:hover {
            background-color: base.$color-cd-green;
        }

        img {
            width: 25px;
            height: auto;
            fill: #fff;
        }

        .material-icons {
            margin-top: 0.5rem;
        }
    }
}

.post-list-item {

    h2 {
        margin-bottom: 1.5rem;
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
    }
}

.material-icons {
    vertical-align: bottom;
}

#to-top {
    bottom: 25px;
    height: 35px;
    left: 50%;
    margin-left: -17px;
    position: fixed;
    width: 35px;
    z-index: 150;
    cursor: pointer;
    opacity: 0;
    transition: opacity 400ms;
    pointer-events: none;

    img {
        width: 35px;
        height: auto;
    }
}

.fade-show {
    opacity: 1 !important;
    pointer-events: auto !important; /* wieder klickbar, wenn sichtbar */
}

.fade-hide {
    opacity: 0;
}